		#创建或覆盖密码文件
		#htpasswd -bc /etc/.pwdapitest 12345679 12345679
		#在密码文件中追加账号
		#htpasswd -b /etc/.pwdapitest test2 testpwd

AuthType Basic

		#引号中的是说明文字，随便写
AuthName "apitest of AXAPI"

		#AuthUserFile指的是保存用户名和密码的文件位置(绝对路径)
AuthUserFile /etc/.pwdapitest

		#Require valid-user表示指定只有.htpasswd文件包含的合法用户才能访问。
Require valid-user
