iframe{
    width: 100%;
    height: 1200px;
}
.span-method{
  width: 50px;
  float: right;
  display: block;
  color:lightgrey;
}
.span-time{
  float:right;
  color: lightgrey;
}
.a_clicked {
    border: 3px dotted blue!important;
}
.star_type_list{
    margin:10px 0;
}
.btn_del{
    position: absolute;
    left: 0px;
    top: 2px;
    cursor: pointer;
    font-size: 19px;
    color: gray;
}
.btn_del:hover{
    color: black;
}
#div_apilist .panel{
    border-radius: 0px;
}
#div_apilist .panel-heading{
    position: relative;
}
#list_api_btns{
    padding-top: 10px;
}
#div_apilist .panel .panel-title > a {
    position: relative;
}
#div_switchgroup .badge , #div_apilist .panel-heading .badge {
    position: absolute;
    top: -10px;
    z-index: 2;
    background-color: white;
    left: -8px;
    color: gray;
}
#div_apilist .panel-heading .badge {
    top: 0px;
    left: 0px;
    position: relative;
}
#div_apilist .panel-collapse {
    position: relative;
}
#div_switchgroup .badge-soon , #div_apilist .panel-heading .badge-soon {
    color:red;
}
#div_switchgroup .badge-today , #div_apilist .panel-heading .badge-today {
    color:red;
}
#div_switchgroup .badge-yesterday , #div_apilist .panel-heading .badge-yesterday {
    color:#E66A6A;
}
#div_switchgroup .badge-beforeyester , #div_apilist .panel-heading .badge-beforeyester {
    color:#A26F6F;
}
#main{
    margin: 0 auto;
}
#div_form{
    padding: 0 30px;
}
#genres_list{
    padding-left: 15px;
}
#div_switchgroup{
    overflow: auto;
    padding-left: 15px;
}
#switch_examples{
    display: inline-flex;
}
#div_apilist{
    height:850px;
    border: 1px solid gray;
    overflow: auto;
}
#div_headerfield
{
    height:737px;
    border: 1px solid gray;
    overflow: auto;
    padding: 0 20px;
}
#div_headerfield>.form-group{
    margin:0 0 15px 0;
}
#div_json_view{
    width: 100%;
    height: 808px;
    border: 1px solid gray;
    overflow: auto;
}
#textarea_results{
    width:100%;
    height:808px;
}
#btn_test_url{
    margin: 10px;
}
#input_search{
    /*border-radius: 0 4px 4px 0;*/
    width: 100px;
}
#list_api_btns tr:hover td{
    background-color: #E0E0E0!important;
    border-color: #E0E0E0!important;
}
